*, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    color: red;
  }

  main {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    align-items: center;
  }

  /* input {
    width: 40px;
  } */

  .board {
    display: grid;
    grid-template-columns: repeat(12, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    height: 100%;
  }
  
  .board div {
    border: 1px solid grey;
    display: grid;
    background-color: rgb(223, 223, 223);
  }

  .dot {
    border: 1px solid black;
    border-radius: 50%;
    margin: 8px;
  }

  .board > .label {
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
  }

  #set-board, #target-grid {
    justify-content: center;
    align-items: center;
  }


/* 
  #playerBoard {
      justify-content: flex-start;
      flex: 1 1 auto;
  }

  #playerAttempts {
      justify-content:
      flex: 1 1 auto;
  } */