*, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    color: red;
  }

  main {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(11, 5vmin);
    grid-template-rows: repeat(9, 5vmin);
    height: 100%;
    
  }
  
  .board div {
    border: 1px solid grey;
  }
/* 
  #playerBoard {
      justify-content: flex-start;
      flex: 1 1 auto;
  }

  #playerAttempts {
      justify-content:
      flex: 1 1 auto;
  } */